[submodule "rainbowbeast"]
	path = rainbowbeast
	url = https://gitlab.com/rainbowbeast/rainbowbeast.git
[submodule "zkevm-node"]
	path = zkevm-node
	url = git@github.com:RainbowScientist5/zkevm-node.git
